RewriteEngine On

AddType text/css .less

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteCond %{DOCUMENT_ROOT}/install/install.php -f
RewriteRule ^/install/(.*)$ install/install.php?_url=$1  [NC,L,QSA]

RewriteCond %{DOCUMENT_ROOT}/public/%{REQUEST_URI} -f
RewriteRule ^(.*)$ public/%{REQUEST_URI} [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ private/index.php?_url=$1 [NC,L,QSA]
