{% extends 'global.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block template %}
    {{ macros.nav() }}
    <div class="hero__image hero__image--main">
        <div class="hero__text">
            <h1>Franciscus Lodewijk Groep</h1>
        </div>
    </div>
    <section>
        <div class="container album-container">
            <div class="row">
                {% for picture in context.pictures %}
                    <div class="col-xs-12 col-sm-4">
                        <div class="albumimage">
                            <img src="/upload/{{ context.album.category }}/{{ context.albumHash }}/{{ picture.location }}" class="albumimage__image "/>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
