{% extends 'global.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block template %}
    {{ macros.nav() }}
    <div class="hero__image hero__image--main">
        <div class="hero__text">
            <h1>Franciscus Lodewijk Groep</h1>
        </div>
    </div>
    <section id="info">
        <div class="section-contents">
            <div class="container">
                <h2>Downloads</h2>
                {% for download in context.downloads %}
                    <ul>
                        <li>
                            <a href="/downloads/{{ download.type }}/{{ download.filename }}" target="_blank">{{ download.name }}</a>
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
