{% extends 'global.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block template %}
    {{ macros.nav() }}
    <div class="hero__image hero__image--main">
        <div class="hero__text">
            <h1>{{ s('groupName') }}</h1>
        </div>
    </div>
    <section id="info">
        <div class="container">
            <h2>{{ t('error.general') }}</h2>
            <div class="alert alert-danger">
                {{ context.errors.0 }}
            </div>
        </div>
    </section>
{% endblock %}
