{% import 'macros.html.twig' as macros %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="author" content="">

    {% set gaCode = s('google-analytics') %}
    {% set gtmCode = s('google-tagmanager') %}
    {% if (gtmCode is not null) %}
        {{ macros.googleTagManager(gtmCode) }}
    {% elseif (gaCode is not null) %}
        {{ macros.googleAnalytics(gaCode) }}
    {% endif %}
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet/less" type="text/css" href="/css/main.less" />
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>

    <script async  src="/js/less.js"></script>
    <script>
        less = {
            env: "development",
            async: false,
            fileAsync: false,
            poll: 1000,
            functions: {},
            dumpLineNumbers: "comments",
            relativeUrls: false,
            rootpath: ":/css"
        };
    </script>

</head>

<body>
    {{ block('template') }}
    <section id="sitemap">
        <div class="section-contents">
            <div class="row">
                <div class="col-md-4 text-center">
                    <h3>Algemeen</h3>
                    <ul class="sitemap__list">
                        <li class="sitemap__item">
                            <a href="/agenda" class="sitemap__link">Agenda</a>
                        </li>
                        <li class="sitemap__item">
                            <a href="/contact" class="sitemap__link">Contact</a>
                        </li>
                        <li class="sitemap__item">
                            <a href="/de-vereniging" class="sitemap__link">De vereniging</a>
                        </li>
                        <li class="sitemap__item">
                            <a href="/lidmaatschap" class="sitemap__link">Lidmaatschap</a>
                        </li>
                        <li class="sitemap__item">
                            <a href="/de-beheerstichting" class="sitemap__link">De beheerstichting</a>
                        </li>
                        <li class="sitemap__item">
                            <a href="/handige-websites" class="sitemap__link">Handige websites</a>
                        </li>
                        <li class="sitemap__item">
                            <a href="#" class="sitemap__link">Nieuwsarchief</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 text-center">
                    <h3>Speltakken</h3>
                    <ul class="sitemap__list">
                        <li class="sitemap__item">
                            <a href="/speltak/bevers" class="sitemap__link">Bevers</a>
                        </li>
                        <li class="sitemap__item">
                            <a href="/speltak/welpen" class="sitemap__link">Welpen</a>
                        </li>
                        <li class="sitemap__item">
                            <a href="/speltak/kabouters" class="sitemap__link">kabouters</a>
                        </li>
                        <li class="sitemap__item">
                            <a href="/speltak/verkenners" class="sitemap__link">Verkenners</a>
                        </li>
                        <li class="sitemap__item">
                            <a href="/speltak/padvindsters" class="sitemap__link">Padvindsters</a>
                        </li>
                        <li class="sitemap__item">
                            <a href="/speltak/explorers" class="sitemap__link">Explorers</a>
                        </li>
                        <li class="sitemap__item">
                            <a href="/speltak/stam" class="sitemap__link">Stam</a>
                        </li>
                        <li class="sitemap__item">
                            <a href="/speltak/boomstam" class="sitemap__link">Boomstam</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 text-center">
                    <h3>Foto's</h3>
                    <ul class="sitemap__list">
                        <li class="sitemap__item">
                            <a href="/fotos/groepsactiviteiten" class="sitemap__link">Groepsactiviteiten</a>
                        </li>
                        <li class="sitemap__item">
                            <a href="/fotos/bevers" class="sitemap__link">Bevers</a>
                        </li>
                        <li class="sitemap__item">
                            <a href="/fotos/welpen" class="sitemap__link">Welpen</a>
                        </li>
                        <li class="sitemap__item">
                            <a href="/fotos/kabouters" class="sitemap__link">Kabouters</a>
                        </li>
                        <li class="sitemap__item">
                            <a href="/fotos/verkenners" class="sitemap__link">Verkenners</a>
                        </li>
                        <li class="sitemap__item">
                            <a href="/fotos/padvindsters" class="sitemap__link">Padvindsters</a>
                        </li>
                        <li class="sitemap__item">
                            <a href="/fotos/explorers" class="sitemap__link">Explorers</a>
                        </li>
                        <li class="sitemap__item">
                            <a href="/fotos/stam" class="sitemap__link">Stam</a>
                        </li>
                        <li class="sitemap__item">
                            <a href="/fotos/boomstam" class="sitemap__link">Boomstam</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
