{% extends 'global.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block template %}
    {{ macros.nav() }}
    <div class="hero__image hero__image--main">
        <div class="hero__text">
            <h1>Franciscus Lodewijk Groep</h1>
        </div>
    </div>

    {{ context.page.content|raw }}
{% endblock %}
