{% extends 'global.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block template %}
    {{ macros.nav() }}
    <div class="hero__image hero__image--main">
        <div class="hero__text">
            <h1>Franciscus Lodewijk Groep</h1>
        </div>
    </div>
    <section id="info">
        <div class="container">
            {% for article in context.articles %}
                <div class="newsoverview">
                    <h2 class="newsoverview__title">{{ article.title }}</h2>
                    <div class="newsoverview__content">
                        {{ (article.content|length > 360 ? article.content|slice(0, 360) ~ '...' : article.content)|raw  }}
                    </div>
                    <div class="newsoverview__readmore">
                        <a href="/news-item/{{ article.id }}" class="btn btn-success">Lees meer</a>
                    </div>
                </div>
                <hr/>
            {% endfor %}
        </div>
    </section>
{% endblock %}
