{% extends 'global.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block template %}
    {{ macros.nav() }}
    <div class="hero__image hero__image--main">
        <div class="hero__text">
            <h1>Franciscus Lodewijk Groep</h1>
        </div>
    </div>
    <section id="info">
        <div class="container">
            <h2>
                {{ context.article.title }}
            </h2>
            <small>{{ context.article.published }}</small>
            <hr/>
            <div>
                {{ context.article.content|raw }}
            </div>
        </div>
    </section>
{% endblock %}
