{% extends 'global.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block template %}
    {{ macros.nav() }}
    <div class="hero__image hero__image--main" style="background-image: url('/upload/{{ context.speltak.picture }}')">
        <div class="hero__text">
            <h1>{{ context.speltak.name|capitalize }}</h1>
            <h2>Franciscus Lodewijk Groep</h2>
        </div>
    </div>
    <section id="info">
        <div class="section-contents">
            <div class="container">
                {{ context.speltak.description|raw }}
            </div>
        </div>
    </section>
{% endblock %}
